/* Sitewide styles */
body {
  padding-top: 64px;
}
footer {
  margin: 2em 0;
}
footer li {
  float: right;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

/* Home page cover */
.bg-img {
  width: 100%;
  height: 100%;
  background: url('../images/tower-bridge.jpg') center center no-repeat;
  background-size: cover;
}
.jumbotron-wrapper {
  position: relative;
  margin: 0 auto;
  color: white;
  text-align: center;
  overflow: hidden;
  max-width: 2560px;
  z-index: 0;
}
.jumbotron h1, .jumbotron .h1 {
  color: #fff;
  font-weight: bold;
}
.drop-shadow {
  text-shadow: 2px 2px 2px #000;
}

/* CodeAcross landing page */
.banner {
  width: 100%;
  padding-bottom: 30px;
}
.codeacross p, .codeacross .p {
  font-size: 22px;
}
.heart {
  color: red;
}
.cushion {
  padding: 15px;
}
.lower {
  margin-top: 20px;
}

/* Projects */
.contributors img {
  width: 50px;
}

.contributor-owner img {
  border: 1px solid darkgray;
}
