# PRODUCTION - aka: gh-pages
_site/
.sass-cache/
bower_components/
dist/
node_modules/
build/
*.json
gulpfile.js

# C4S ideas dir
.idea/

# Dont serve dev resources in production
**/*.ia
**/*.psd

# General system excludes
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDB
.AppleDesktop
.apdisk
.AppleDouble
.LSOverride
