<form id="mc-form" class="form-group" autocomplete="off">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-2">
      <input id="mc-email" class="form-control input-lg" type="email" id="inputLarge" placeholder="Email Address">
    </div>
    <div class="col-sm-3">
      <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-envelope-o"></i> Stay Updated</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <label for="mc-email"></label>
    </div>
  </div>
</form>
