<style>
.form-control {
  color: #000;
  text-shadow: 0px 0px 0px;
}
</style>
<form id="join_page_new_signup_form" class="ajaxForm signup_form" method="POST" action="https://requestb.in/140jneu1" enctype="multipart/form-data">
    <input name="return_to" type="hidden" value="https://codeforsacramento.nationbuilder.com/join">
    <div class="email_address_form" style="display:none;" aria-hidden="true">
    </div>
    <div class="form-errors"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_first_name">First Name</label>
                <input class="text form-control user-success" id="signup_first_name" name="signup[first_name]" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_last_name">Last Name</label>
                <input class="text form-control" id="signup_last_name" name="signup[last_name]" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_email">Email</label>
                <input class="text form-control" id="signup_email" name="signup[email]" type="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_mobile_number">Mobile phone</label>
                <input class="text form-control" id="signup_mobile_number" name="signup[mobile_number]" type="tel">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="signup_submitted_address1">Address 1</label>
                <input class="text form-control" id="signup_submitted_address1" name="signup[submitted_address1]" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="signup_submitted_address2">Address 2</label>
                <input class="text form-control" id="signup_submitted_address2" name="signup[submitted_address2]" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_submitted_address_city">City</label>
                <input class="text form-control" id="signup_city" name="signup[city]" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="signup_submitted_address_zip">Zip</label>
                <input class="text form-control" id="signup_submitted_address_zip" name="signup[submitted_address_zip]" type="text">
            </div>
        </div>
    </div>
    <!-- _skills_labeled_tags.html -->
    <div class="col-md-12">
        <div class="col-md-6">
            <h3> Skills </h3>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_C" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="C" id="checkbox_C"> C </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Clojure" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Clojure" id="checkbox_Clojure"> Clojure </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Data_Science" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Data Science" id="checkbox_Data_Science"> Data Science </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Data_Visualization" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Data Visualization" id="checkbox_Data_Visualization"> Data Visualization </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_HTML_CSS" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="HTML/CSS" id="checkbox_HTML_CSS"> HTML/CSS </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Mapping" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Mapping" id="checkbox_Mapping"> Mapping </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Javascript" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Javascript" id="checkbox_Javascript"> Javascript </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Node_js" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Node.js" id="checkbox_Node_js"> Node.js </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Product_Management" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Product Management" id="checkbox_Product_Management"> Product Management </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Python" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Python" id="checkbox_Python"> Python </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_R" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="R" id="checkbox_R"> R </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Ruby" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Ruby" id="checkbox_Ruby"> Ruby </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_User_Experience" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="User Experience" id="checkbox_User_Experience"> User Experience </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Visual_Design" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Visual Design" id="checkbox_Visual_Design"> Visual Design </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Other_Skill" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Other Skill" id="checkbox_Other_Skill"> Other Skill </label>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-6">
            <h3> Issues </h3>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Economic_Development" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Economic Development" id="checkbox_Economic_Development"> Economic Development </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Education" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Education" id="checkbox_Education"> Education </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Environmental_Sustainability" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Environmental Sustainability" id="checkbox_Environmental_Sustainability"> Environmental Sustainability </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Housing" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Housing" id="checkbox_Housing"> Housing </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Poverty_and_Inequality" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Poverty and Inequality" id="checkbox_Poverty_and_Inequality"> Poverty &amp; Inequality </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Public_Health" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Public Health" id="checkbox_Public_Health"> Public Health </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Public_Safety" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Public Safety" id="checkbox_Public_Safety"> Public Safety </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Transportation" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Transportation" id="checkbox_Transportation"> Transportation </label>
                </div>
            </div>
            <div class="row">
                <div class="checkbox">
                    <label for="checkbox_Other_Issue" class="checkbox">
                        <input type="checkbox" name="signup[labeled_tags][]" value="Other Issue" id="checkbox_Other_Issue"> Other Issue </label>
                </div>
            </div>
        </div>
    </div>
    <!-- /_skills_labeled_tags.html -->
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <input class="submit-button btn-block btn-primary" type="submit" name="commit" value="Register">
        </div>
    </div>
    <br>
    <div class="form-submit"></div>
</form>
