<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<form id="myForm" class="ajaxForm signup_form" enctype="multipart/form-data" action="/">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_first_name">First Name</label>
        <input class="text form-control user-success" id="signup_first_name" name="signup[first_name]" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_last_name">Last Name</label>
        <input class="text form-control" id="signup_last_name" name="signup[last_name]" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_email">Email</label>
        <input class="text form-control" id="signup_email" name="signup[email]" type="email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_mobile_number">Mobile phone</label>
        <input class="text form-control" id="signup_mobile_number" name="signup[mobile_number]" type="tel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="signup_submitted_address_address1">Street</label>
        <input class="text form-control" id="signup_submitted_address_address1" name="signup[submitted_address]" type="text">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="signup_submitted_address_address2">Unit</label>
        <input class="text form-control" id="signup_submitted_address_address2" name="signup[submitted_address_address2]" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_submitted_address_city">City</label>
        <input class="text form-control" id="signup_submitted_address_city" name="signup[submitted_address_city]">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="signup_submitted_address_zip">Zip</label>
        <input class="text form-control" id="signup_submitted_address_zip" name="signup[submitted_address_zip]">
      </div>
    </div>
  </div>
  <!-- _skills_labeled_tags.html -->
  <div class="col-md-12">
    <div class="col-md-6">
      <h3> Skills </h3>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_C" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="C" id="checkbox"> C </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Clojure" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Clojure" id="checkbox"> Clojure </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Data_Science" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Data Science" id="checkbox"> Data Science </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Data_Visualization" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Data Visualization" id="checkbox"> Data Visualization </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_HTML_CSS" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="HTML/CSS" id="checkbox"> HTML/CSS </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Mapping" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Mapping" id="checkbox"> Mapping </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Javascript" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Javascript" id="checkbox"> Javascript </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Node_JS" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Node.js" id="checkbox"> Node.js </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Product_Management" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Product Management" id="checkbox"> Product Management </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Python" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Python" id="checkbox"> Python </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_R" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="R" id="checkbox"> R </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkboxuby" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Ruby" id="checkbox"> Ruby </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_User_Experience" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="User Experience" id="checkbox"> User Experience </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Visual_Design" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Visual Design" id="checkbox"> Visual Design </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Other_Skill" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Other Skill" id="checkbox"> Other Skill </label>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4"></div> -->
    <div class="col-md-6">
      <h3> Issues </h3>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Economic_Development" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Economic Development" id="checkbox_Economic_Development"> Economic Development </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Education" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Education" id="checkbox_Education"> Education </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Environmental_Sustainability" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Environmental Sustainability" id="checkbox_Environmental_Sustainability"> Environmental Sustainability </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_4" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="4" id="checkbox_4"> Housing </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Poverty_Inequality" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Poverty & Inequality" id="checkbox_Poverty_Inequality"> Poverty &amp; Inequality </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Public_Heatlh" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Public Heatlh" id="checkbox_Public_Heatlh"> Public Health </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Public_Safety" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Public Safety" id="checkbox_Public_Safety"> Public Safety </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Transportation" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Transportation" id="checkbox_Transportation"> Transportation </label>
        </div>
      </div>
      <div class="row">
        <div class="checkbox">
          <label for="checkbox_Other_Issue" class="checkbox">
          <input type="checkbox" name="labeled_tags" value="Other Issue" id="checkbox_Other_Issue"> Other Issue </label>
        </div>
      </div>
    </div>
  </div>
  <!-- /_skills_labeled_tags.html -->
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <input class="submit-button btn-block btn-primary" type="submit" name="commit" value="Register">
    </div>
  </div>
  <br>
  <div class="form-submit"></div>
</form>

<script language="javascript" type="text/javascript">
  $(function() { //shorthand document.ready function
    $('#myForm').on('submit', function(e) { //use on if jQuery 1.7+
        var checkBoxes = document.querySelectorAll('input[name=labeled_tags]:checked');
        var firstName = $("#signup_first_name").val();
        var lastName = $("#signup_last_name").val();
        var email = $("#signup_email").val();
        var phone = $("#signup_mobile_number").val();
        var address1 = $("#signup_submitted_address_address1").val();
        var address2 = $("#signup_submitted_address_address2").val();
        var addressCity = $("#signup_submitted_address_city").val();
        var addressZip = $("#signup_submitted_address_zip").val();
        var tags = Array.prototype.map.call( checkBoxes, function(n){
          return n.value;
        });
        var varData = {
          "first_name": firstName,
          "last_name": lastName,
          "email": email,
          "phone": phone,
          "tags": tags,
          "address": {
            "address1": address1,
            "address2": address2,
            "zip": addressZip,
            "city": addressCity
          }
        };
        $.ajax({
          url: 'https://sf4ej4ezej.execute-api.us-west-1.amazonaws.com/Production/signup',
          type: 'POST',
          data: JSON.stringify(varData),
          headers: {},
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          async: false,
          success: function(msg) {
            console.log(msg);
          },
          error: function(msg) {
            console.log(msg);
          }
      });
    });
  });
</script>

