<div class="row">
  <div class="col-md-12">
    <h3>Connecting Citizens with their Communities</h3>
    <p class="lead">We leverage technology as a tool to connect citizens with community resources and each other. These connections empower citizen-driven solutions to problems previously addressed only by top-down approaches. New forms of engagement help governments do more with less and enhance the effectiveness of public services.</p>

    <h3 id="technology-for-good">Technology for Good</h3>
    <p class="lead">At Code for Sacramento, we try and keep the following goals in mind as we do this:</p>
    <ul>
      <li>make it better to live in our city and state</li>
      <li>increase civic engagement</li>
      <li>learn and teach</li>
      <li>help anyone who wants to help</li>
    </ul>
  </div>
</div>
