<div class="row">
  <div class="col-md-12">
    <h3>Civic Innovators, Not Activists</h3>
    <p class="lead">We are committed to working with the six counties and 22 cities in the greater Sacramento Area Council of Governments (SACOG) region. We’re here to help and eager to learn from professional public administrators. And while we’re advocates for open government (we can’t build apps without open data!), we’re non-partisan and public-minded.</p>
    <p class="lead">We're a group of civic-minded programmers, coders, designers, and extraordinary citizens. We work in partnership with government, non-profit, and technical partners to deploy technology to improve quality of life and increase citizen engagement with civic issues.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Core Team</h3>
    <p class="lead">Code for Sacramento is led by a volunteer Core Team that organizes events, manages strategic partnerships, and ensures fluid communication among cross-functional project teams.</p>
  </div>
</div>

{% for member in core_team %}
<div class="row cushion-bottom">
  <div class="col-xs-4 text-center">
    <img class="img-responsive img-circle" src="/images/headshots/{{ member.headshot }}">
    <h4>{{ member.name }}</h4>
    <h5>{{ member.title }}</h5>
  </div>
  <div class="col-xs-8">
    <p>{{ member.bio }}</p>
  </div>
</div>
{% endfor %}
<div class="row">
  <div class="col-md-12">
    <p>Feel free to reach out to anyone on our leadership team by using the contact page or email hello@codeforsacramento.org</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Advisory Board</h3>
    <p class="lead">Coming Soon</p>
  </div>
</div>
