<div class="row">
  <h3>Civic Innovators, Not Activists</h3>
  <p class="lead">We are committed to working with the six counties and 22 cities in the greater Sacramento Area Council of Governments (SACOG) region. We’re here to help and eager to learn from professional public administrators. And while we’re advocates for open government (we can’t build apps without open data!), we’re non-partisan and public-minded.</p>
  <p class="lead">We're a group of civic-minded programmers, coders, designers, and extraordinary citizens. We work in partnership with government, non-profit, and technical partners to deploy technology to improve quality of life and increase citizen engagement with civic issues.</p>
</div>
