<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  {% include header.html %}

  <!-- Call to action -->
  <img class="banner" src="../images/codeacross-banner.jpg">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        {{ content }}

        <p class="text-center">
          <a class="btn btn-lg btn-primary" href="http://codeacrosssac2015.eventbrite.com" target="_blank" role="button">Register for CodeAcross Sacramento</a>
        </p>

      </div>
    </div>
  </div>

  {% include footer.html %}

</html>
