<!DOCTYPE html>
<html lang="en">

{% include shared/head.html %}

  {% include shared/header.html %}

    <body>

      <div class="container">

        <div class="row">
          <h2>{{ page.title }}</h2>
        </div>

        <div class="row">
          <div class="col-md-8">
            {{ content }}
          </div>
          <div class="col-md-4">
            {% include shared/twitter-widget.html %}
          </div>
        </div>

      </div>

      {% include shared/footer.html %}

    </body>

</html>
