<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  {% include header.html %}

  <!-- Call to action -->
  <div class="jumbotron bg-img">
    <div class="jumbotron-wrapper">
      <div class="container">
        <img src="../images/cfa_flag_tag.png" height="85" width="auto" />
        <h1 class="drop-shadow">We are Code for Sacramento</h1>
        <p class="drop-shadow">As a Code for America Brigade, we're part of a national network of civic-minded volunteers who contribute their skills toward using the web as a platform for local government and community service.</p>
        <p>
          <a class="btn btn-lg btn-warning" href="/projects" role="button">Check out our current projects</a>
        </p>
      </div>
    </div>
  </div>

  {{ content }}

  {% include footer.html %}

</html>
