<section id="codeacross-2016">
  <div class="row">
    <div class="col-sm-6">
      <a href="https://www.eventbrite.com/e/codeacross-sacramento-county-tickets-21410020949" target="_blank">
        <img class="img-responsive image-shadow" src="https://www.codeforamerica.org/events/codeacross-2016/CodeAcross2016_Postcard.jpg">
      </a>
    </div>
    <div class="col-sm-6">
      <h4>Join us at CodeAcross Sacramento County!</h4>
      <p>CodeAcross is an annual civic hackathon we host each winter. For 2016 we're excited to be teaming up with the County of Sacramento and supporting their <a href="http://hack4sac.saccounty.net/" target="_blank">#Hack4Sac Innovation Campaign</a>!</p>
      <a href="https://www.eventbrite.com/e/codeacross-sacramento-county-tickets-21410020949" class="btn btn-lg btn-block btn-success"><i class="fa fa-ticket"></i> Learn More and Register</a>
    </div>
  </div>
</section>
