<!-- Blog content -->
<div class="col-md-7">

  <h3>From the Blog</h3>

  {% include home/blog-excerpt.html %}

</div><!-- /blog content -->

<!-- Civic tech issue finder -->
<div class="col-md-5">

  <h4>You can Code for Sacramento right now!</h4>
  <h5>Here are some things we need help with:</h5>

  <iframe src="https://www.codeforamerica.org/geeks/civicissues/widget?organization_name=Code-for-Sacramento&labels=help wanted&number=3" width="100%" height="850" frameBorder="0"></iframe>

</div><!-- /civic tech issue finder -->
