<section id="featured-apps">
  <div class="container">
    <h3>Some of Our Work</h3>
    <div class="row">

      {% for app in site.data.featured-apps %}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <a href="{{ app.url }}" target="_blank">
            <div class="panel-thumbnail"><img src="/images/apps/{{ app.image }}" class="img-responsive"></div>
          </a>
          <div class="panel-body">
            <p class="lead">{{ app.name }}</p>
            <p>{{ app.description }}</p>
            <p><a class="btn btn-primary" href="{{ app.url }}" target="_blank"><i class="fa fa-external-link"></i> Check it out</a></p>
          </div>
        </div>
      </div><!--/col-->
      {% endfor %}
      
    </div>
  </div>
</section>
