<section id="io-cupid">
  <div class="container">
    <div class="row">
      <h3 class="text-center">We connect civic technologists with project leaders who have ideas for community solutions.</h3>
      <div class="col-sm-5 col-sm-offset-1">
        <h1 class="text-center text-primary"><a href="/skills" target="_blank"><i class="fa fa-wrench"></i></a></h1>
        <a href="/skills" target="_blank" class="btn btn-primary btn-lg btn-block">I have skills</a>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h1 class="text-center text-primary"><a href="/needs" target="_blank"><i class="fa fa-lightbulb-o"></i></a></h1>
        <a href="/needs" target="_blank" class="btn btn-primary btn-lg btn-block">I have ideas</a>
      </div>
    </div>
  </div>
</section>
