<section id="main-description">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>We play with data and deploy civic apps.</h3>
        <p class="lead">Code for Sacramento is a civic organization of local developers, designers and data geeks who volunteer to help the Capital Region's public agencies and social enterprises adopt open web technologies.</p>
        <p class="lead">We pull together Sacramento's best resources to amplify our collective civic impact.</p>
        <h4>Catalyzing the Open Data Economy</h4>
        <p class="lead">Accessible public data will enable the creation of local tech startups that solve real world problems.</p>
      </div>
      <div class="col-md-4">
        {% include "shared/twitter-widget.html" %}
      </div>
    </div>
  </div>
</section>
