<section id="ndoch-2016">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href="https://www.eventbrite.com/e/national-day-of-civic-hacking-2016-tickets-25014843069" target="_blank">
          <img class="img-responsive image-shadow" src="/images/ndoch/nodoch_2016.jpg">
        </a>
      </div>
      <div class="col-sm-6">
        <h4>Join us Saturday, June 4th!</h4>
        <p><strong>National Day of Civic Hacking</strong> is a nationwide day of action where developers, government employees, designers, journalists, data scientists, non-profit employees, UX designers, and residents who care about their communities come together to host civic tech events leveraging their skills to help their community.</p>
        <a href="https://www.eventbrite.com/e/national-day-of-civic-hacking-2016-tickets-25014843069" class="btn btn-lg btn-block btn-success" target="_blank"><i class="fa fa-ticket"></i> Learn More and Register</a>
      </div>
    </div>
  </div>
</section>
